button{
    border:none;
    margin: 10px;
    height: 50px;
    width: 100px;
    background-color: deepskyblue;
    font-weight: bold;
    cursor: pointer;
    border-radius: 15px;
}

button:active{
    background-color: darkgray;
}